<!DOCTYPE html>
<html lang="de-CH">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <title><%= title %><% if (title !== 'Swiss Wutan'){ %> - Swiss Wutan<% } %></title>
    <meta
      name="description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta name="author" content="<%= site.author %>" />
    <meta property="og:title" content="<%= title %>" />
    <meta
      property="og:description"
      content="<%= (!!locals.description) ? description : site.description %>"
    />
    <meta property="og:locale" content="<%= site.locale %>" />
    <meta property="og:site_name" content="<%= site.site_name %>" />
    <% if (locals.tags == "posts") { %>
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="<%= date.toISOString() %>" />
    <script type="application/ld+json">
      {
        "description": "<%= (!!locals.description) ? description : site.description %>",
        "author": { "@type": "Person", "name": "<%= site.author %>" },
        "@type": "BlogPosting",
        "url": "<%= `${site.url}${page.url}` %>",
        "publisher": {
          "@type": "Organization",
          "logo": {
            "@type": "ImageObject",
            "url": "<%= `${site.url}/assets/images/logo.png` %>"
          },
          "name": "<%= site.author %>"
        },
        "headline": "<%= title %>",
        "datePublished": "<%= date.toISOString() %>",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "<%= `${site.url}${page.url}` %>"
        },
        "@context": "http://schema.org"
      }
    </script>
    <% } %><%- include('webpack.ejs') %> <% if (page.url == "/") { %>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
    <% } %>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/31bf66063d035b96329b69da5/0c3be7094379a0f176db23854.js");</script>
  </head>

  <body class="antialiased w-full text-gray-700">
      <div class="w-full bg-cover bg-center" style="height:32rem; background-image: url('/assets/images/header.jpg')">
        <div class="flex items-center justify-center h-full w-full bg-gray-400 bg-opacity-50">
          <div class="text-center">
            <a href="/"><img src="/assets/images/logo.png" class="max-width-100 inline-block" alt=""></a>
            <h1 class="text-white text-2xl font-semibold md:text-3xl"><%= site.title %></h1>
            <p class="text-white text-xl"><%= site.description %></p>
          </div>
        </div>
      </div>
      <div class="max-w-screen-md mx-auto">
        <div class="text-xl py-5"><%- content %></div>

        <div class="border-t border-gray-300 text-center py-8 flex justify-between p-5">
          <div>
            © Swiss Wutan <%= new Date().getFullYear() %>
          </div>
          <div>
          Made with <span role="img" aria-label="Love">♥</span> by
          <a href="https://sahli-interactive.ch">sahli:interactive</a>
          </div>
        </div>
    </div>
  </body>
</html>
